*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "noto sans mono", monospace;
    background-color: rgb(0, 0, 0);
}



#navbar {
    width: 100%;
    height: 50px;
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    position: fixed;
    z-index: 9999;


    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 20px;
        padding-right: 20px;
    }

    a {
        text-decoration: none;
        color: rgb(181, 181, 181);
        transition: .3s ease-in-out;
        -webkit-transition: ;
        -moz-transition: ;
        -ms-transition: ;
        -o-transition: ;
    }

    a:hover {
        color: #eaeaea;
        line-height: 5px;
        text-decoration: underline;
    }

}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(assets/bg-6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    h1 {
        font-family: "Rampart One", sans-serif;
        font-weight: bold;
        font-size: 150px;
        color: lightgrey;
        text-shadow: 10px 5px 5px black;
    }

    p {
        font-size: 30px;
        font-weight: 700;
        color: rgb(237, 16, 16);
        text-shadow: 3px 3px 2px black;
    }

}



.title1 {
    text-align: center;
    font-weight: 700;
    line-height: 70px;
    margin: 0 auto;
    margin-top: 13rem;
    color: lightgrey;

    hr {
        width: 120px;
        border-top: 2px solid rgb(84, 82, 82);
        margin: 0 auto;
    }
}

.title2 {
    text-align: center;
    font-weight: 700;
    line-height: 70px;
    margin: 0 auto;
    margin-top: 10rem;
    color: lightgrey;

    hr {
        width: 130px;
        border-top: 2px solid rgb(84, 82, 82);
        margin: 0 auto;
    }
}

.title3 {
    text-align: center;
    font-weight: 700;
    line-height: 70px;
    margin: 0 auto;
    margin-top: 300px;
    color: lightgrey;

    hr {
        width: 140px;
        border-top: 2px solid rgb(84, 82, 82);
        margin: 0px auto;
    }
}

/* ABOUT */

#about {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    text-align: justify;
    box-sizing: border-box;
    color: lightgrey;

    .container-pfp {
        width: 250px;
        height: 450px;
        border-right: 2px solid rgb(84, 82, 82);
        text-align: center;
        margin-top: 50px;
        padding-right: 20px;

        img {
            width: 150px;
            border: 3px solid rgb(39, 38, 38);
            border-radius: 180px;
            -webkit-border-radius: 180px;
            -moz-border-radius: 180px;
            -ms-border-radius: 180px;
            -o-border-radius: 180px;
        }

        p {
            margin-top: 15px;
            text-align: justify;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 800px;
        margin-top: 70px;
        margin-left: 30px;
    }

    .cont-1 {
        display: flex;
        flex-direction: row;

        .leftLine {
            border-right: 2px solid rgb(84, 82, 82);
            padding-right: 20px;
        }

        .artikel {
            padding-left: 20px;
        }
    }


}

.stiker {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    position: relative;

    .emoji1 {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 0;
        left: 40px;
    }

    .emoji2 {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 70px;
        right: 300px;
    }

    .emoji3 {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        right: 20px;
    }


}


/* PROJECT */

#project {
    width: 1200px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;

    .card {
        width: 350px;
        height: 240px;
        border: 2px solid black;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(203, 203, 203);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
}

    img {
        width: 200px;
        height: 140px;
        transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
    }

    .card:hover img {
        transform: scale(3, 2.5) rotatey(360deg);
        -webkit-transform: scale(3, 2.5) rotatey(360deg);
        -moz-transform: scale(3, 2.5) rotatey(360deg);
        -ms-transform: scale(3, 2.5) rotatey(360deg);
        -o-transform: scale(3, 2.5) rotatey(360deg);
    }

    p {
        margin-top: 15px;
        font-weight: bold;
    }
}


/* SOSIAL MEDIA */


#contact {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    background-color: lightgrey;

    .logo {
        width: 800px;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .x-logo {
            width: 100px;
        }

        img {
            width: 150px;
        }

    }

    .word {
        width: 700px;
        text-align: justify;
        margin: 30px auto;
        font-weight: 700;
        color: black;
    }

}


/* footer */


footer {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    border-top: 3px solid rgb(46, 41, 41);
    background-color: rgb(98, 98, 98);
    color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}